In [1]:
empty_list1 = []

In [2]:
empty_list2 = list()

In [3]:
sample_list = ['a', 'b', 'c', 'd']

In [4]:
sample_list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [7]:
sample_list2

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [8]:
list()

[]

In [9]:
list('문자열을')

['문', '자', '열', '을']

In [16]:
print(sample_list2[4:7:2])

['May', 'Jul']

In [17]:
sample_list

['a', 'b', 'c', 'd']

In [18]:
sample_list[2] = 'C'

In [19]:
sample_list

['a', 'b', 'C', 'd']

In [41]:
quarters = sample_list2[::3]
last_three = sample_list2[-1:-4:-1]
reverse_two_steps = sample_list2[::-2]

print(quarters)
print(last_three)
print(reverse_two_steps)

['Jan', 'Apr', 'Jul', 'Oct']
['Dec', 'Nov', 'Oct']
['Dec', 'Oct', 'Aug', 'Jun', 'Apr', 'Feb']

In [42]:
fruits = ['apple', 'banana', 'melon']
colors = ['red', 'green', 'blue']

In [46]:
fruits2 = fruits.copy()
fruits2.append(colors)
fruits2

['apple', 'banana', 'melon', ['red', 'green', 'blue']]

In [47]:
fruits2 = fruits.copy()
fruits2.extend(colors)
fruits2

['apple', 'banana', 'melon', 'red', 'green', 'blue']

In [50]:
fruits.insert(0, 'mango')
fruits

['mango', 'mango', 'apple', 'banana', 'melon']

In [52]:
fruits.insert(100, 'pineapple')
fruits

['mango', 'mango', 'apple', 'banana', 'melon', 'mango', 'pineapple']

In [54]:
# 왜 list는 일반 변수의 할당과는 다르게 주소 관리하는가
var1 = 'Lux'
var2 = var1

In [55]:
var1

'Lux'

In [56]:
var2

'Lux'

In [58]:
var1 = 'Ahri'
var2

'Lux'

In [59]:
list1 = ['a', 'b', 'c']
list2 = list1

In [60]:
list1.insert(100, 'z')
list1

['a', 'b', 'c', 'z']

In [61]:
list2

['a', 'b', 'c', 'z']

In [62]:
list1 = ['c', 'd', 'e']
list1

['c', 'd', 'e']

In [63]:
list2

['a', 'b', 'c', 'z']

In [65]:
del fruits[0]
fruits

['apple', 'banana', 'melon', 'mango', 'pineapple']

In [67]:
fruits.remove('pineapple')

ValueError: list.remove(x): x not in list

In [70]:
fruits.insert(100, 'melon')
fruits

['apple', 'banana', 'melon', 'mango', 'melon']

In [72]:
fruits.remove('melon')
fruits

['apple', 'banana', 'mango', 'melon']

In [73]:
last = fruits.pop()
fruits

['apple', 'banana', 'mango']

In [74]:
fruits.index('apple')

0

In [75]:
'banana' in fruits

True

In [76]:
fruits.count('apple')

1

In [77]:
sorted_fruits = sorted(fruits)
sorted_fruits

['apple', 'banana', 'mango']

In [87]:
print(fruits)
fruits.sort()
print(fruits)

['apple', 'b', 'b', 'b', 'banana', 'mango', 'c']
['apple', 'b', 'b', 'b', 'banana', 'c', 'mango']

In [88]:
id(fruits)

139648651332616

In [89]:
id(fruits.copy())

139648650977608

In [90]:
id(list(fruits))

139648651057288

In [91]:
id(fruits[:])

139648650928968

In [92]:
colors = ('red')
print(type(colors))

<class 'str'>

In [93]:
colors = ('red',)
print(type(colors))

<class 'tuple'>

In [94]:
colors = 'red',
print(type(colors))

<class 'tuple'>

In [96]:
colors = 'red', 'blue'
print(type(colors))

<class 'tuple'>

In [99]:
colors[0]

'red'

In [100]:
colors[1]

'blue'

In [101]:
colors = 'red', 'blue', 'green', 'yellow'

In [102]:
a = colors[0]
b = colors[1]
c = colors[2]
d = colors[3]
print(a,b,c,d)

red blue green yellow

In [104]:
a, b, c, d = colors
print(a, b, c, d)

red blue green yellow

In [105]:
a = 'apple'
b = 'banana'

In [108]:
temp = a
a = b
b = temp
print('a:{}'.format(a))
print('b:{}'.format(b))

a:banana
b:apple

In [109]:
c = 'cheery'
d = 'durian'

c, d = d, a
print(c)
print(d)

durian
banana

In [117]:
c = 'qq',
c

('qq',)

In [124]:
c[0] = 'ad'
c

TypeError: 'tuple' object does not support item assignment

In [119]:
str1 = 'Fastcampus'
var1 = list(str1)
var2 = tuple(str1)
print(var1)
print(var2)

['F', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's']
('F', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's')

In [127]:
str2 = ''.join(var1)
str3 = ''.join(var2)

In [128]:
print(str2)
print(str3)

Fastcampus
Fastcampus