In [1]:
def func():
    print('call func')

In [2]:
func

In [3]:
type(func)

function

In [4]:
id(func)

140692592721992

In [5]:
func()

call func

In [6]:
a = func()
print(a)

call func
None

In [7]:
def return_true():
    return True

In [8]:
a = return_true()
print(a)
print(type(a))

True
<class 'bool'>

In [9]:
def return_pass():
    pass
a = return_pass()
print(a)
print(type(a))

None
<class 'NoneType'>

In [10]:
def print_message():
    print('항상 같은 메세지')

In [11]:
print_message()

항상 같은 메세지

In [13]:
def print_message(msg):
    print('입력받은 "{}"표시'.format(msg))

In [14]:
print_message('박보영')

입력받은 "박보영"표시

In [15]:
def student(name, age, gender):
    return {
        'name': name,
        'age': age,
        'gender' : gender,
    }

In [18]:
s1 = student('이한영', 31, 'Male')

In [22]:
s2 = student(age=30, gender='Male', name='이한영')

In [23]:
s2

{'age': 30, 'gender': 'Male', 'name': '이한영'}

In [31]:
s3 = student('박보영', age='29', gender='Female')

In [29]:
s3

{'age': '29', 'gender': 'Female', 'name': '박보영'}

In [33]:
def return_list(value, result=[]):
    result.append(value)
    return result

In [34]:
return_list('apple')

['apple']

In [35]:
return_list('banana')

['apple', 'banana']

In [52]:
def return_list(value, result=None):
    if not result:
        result = []
    result.append(value)
    return result

In [53]:
return_list('apple')

['apple']

In [54]:
return_list('banana')

['banana']

In [55]:
def print_args(*args):
    print(args)

In [63]:
def sum_all(*args):
    result = 0
    for item in args:
        result += item;
    return  result
#     return sum(args)
print(sum_all(1,2,3,4,5,6,7,8,9,10))

55

In [64]:
def print_kwargs(**kwargs):
    print(kwargs)

In [65]:
print_kwargs(name='이한영', age=31, lol='Gold')

{'name': '이한영', 'age': 31, 'lol': 'Gold'}

In [82]:
def print_all_args(*args, **kwargs):
    """
    모든 위치인자와 키워드 인자를 출력해줍니다.
    """
    print('args: {}'.format(args))
    print('kwargs: {}'.format(kwargs))

In [83]:
help(print_all_args)
print_all_args(1,2,3,4,5,6,7,8,9,10,name='asd', age=11, lol='gold')

Help on function print_all_args in module __main__:

print_all_args(*args, **kwargs)
    모든 위치인자와 키워드 인자를 출력해줍니다.

args: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
kwargs: {'name': 'asd', 'age': 11, 'lol': 'gold'}

In [84]:
l = [1,2,3,4,5]

name = '수민'
age = 33
lol = 'Gold'

In [85]:
print_all_args(l, name, age, lol)

args: ([1, 2, 3, 4, 5], '수민', 33, 'Gold')
kwargs: {}

In [111]:
def f1():
    print('call function!!')

In [114]:
def f2(func):
    print('I am f2 start')
    func()
    print('I am f2 end')

In [115]:
f2(f1)

I am f2 start
call function!!
I am f2 end

In [154]:
def f1(string):
    def upcase():
        return string.upper()       
    return upcase()

In [155]:
print(f1('abcde'))

ABCDE

In [157]:
def print_a():
    a = 60
    print(a)

a = 30

print_a()
print(a)

60
30

In [158]:
__name__

'__main__'

In [167]:
champion = 'Lux'

def show_global_champion():
    print(f'show_global_champion : {champion}')
    
show_global_champion()
print(f'print champion : {champion}')

show_global_champion : Lux
print champion : Lux

In [191]:
champion = 'Lux'

def show_global_champion():
    print(f'show_global_champion : {champion}')
    print(id(champion))
    
def change_global_champion():
#     print(f'before change : {champion}')
    champion = 'Ahri'
    a = 'apple'
    print(f'after change : {champion}')
    print(id(champion))
    print(locals())

print(id(champion))
show_global_champion()
change_global_champion()
show_global_champion()
print(f'print champion : {champion}')

140692483158064
show_global_champion : Lux
140692483158064
after change : Ahri
140692482800248
{'a': 'apple', 'champion': 'Ahri'}
show_global_champion : Lux
140692483158064
print champion : Lux

In [192]:
l = list('1234')

In [193]:
l

['1', '2', '3', '4']

In [194]:
list = '3'

In [196]:
l = list('1234')

TypeError: 'str' object is not callable

In [4]:
champion = 'Lux'

def change_global_champion():
    global champion
    champion = 'Ahri'
    print('after change_global_champion : {}'.format(champion))

def f2():
    print('f2 change_global_champion : {}'.format(champion))

f2()
change_global_champion()
print('print global champion : {}'.format(champion))
f2()

f2 change_global_champion : Lux
after change_global_champion : Ahri
print global champion : Ahri
f2 change_global_champion : Ahri

In [21]:
# nonlocal을 중첩하여 중첩함수의 변수를 참조 할 수 있다.
champion = 'Lux'

def print_champion():
    print(f'global champion: {champion}')

def local1():
#     global champion
    champion = 'Ahri'
    print(f'local1 champion: {champion}')
    
    def local2():
        nonlocal champion
        champion = 'Ezreal'
        print(f'local2 champuon: {champion}')
        def local3():
            nonlocal champion
            champion = 'Khazix'
            print(f'local3 champuon: {champion}')
        local3()
        print(f'local2 champion: {champion}')
    local2()
    print(f'local1 champion: {champion}')

print_champion()
local1()
print_champion()

global champion: Lux
local1 champion: Ahri
local2 champuon: Ezreal
local3 champuon: Khazix
local2 champion: Khazix
local1 champion: Khazix
global champion: Lux

In [23]:
global_level = 100

def level_add(value):
    value += 30
    print(value)
    
level_add(global_level)
print(global_level)

130
100

In [29]:
global_level = 100

def level_add():
    global global_level
    global_level += 30
    print(global_level)
    
level_add()
print(global_level)

130
130

In [40]:
global_list = []

def add_list(any_list):
    any_list.append('something')
    print(any_list)
    
add_list(global_list)
print(global_list)

global_list = []
print("")

def add_list(any_list=None):
    if not any_list:
        any_list = []
    any_list.append('something')
    print(any_list)
    
add_list(global_list)
print(global_list)

print("")

global_dict = {}
def add_dict(any_dict):
    any_dict['a'] = 'def'
    print(any_dict)

add_dict(global_dict)
print(global_dict)

global_dict = {}
print("")

global_dict = {}
def add_dict(any_dict=None):
    if not any_dict:
        any_dict = {}
    any_dict['a'] = 'def'
    print(any_dict)

add_dict(global_dict)
print(global_dict)

['something']
['something']

['something']
[]

{'a': 'def'}
{'a': 'def'}

{'a': 'def'}
{}

In [43]:
def multi(x):
    return x * x
multi(5)

25

In [49]:
a = (lambda x: x * x)(5)
print(a)
print((lambda x, y: x * y)(5,6))

25
30

In [55]:
func = lambda x : x * x
func(5)

25

In [58]:
import string
for char in string.ascii_lowercase:
    if char > 'i':
        print(char.upper())
    else:
        print(char)

a
b
c
d
e
f
g
h
i
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [59]:
for char in string.ascii_lowercase:
    print((lambda x : x.upper() if x > 'i' else x)(char))

a
b
c
d
e
f
g
h
i
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [68]:
level = 0

def outer():
    level = 50
    def inner():
        nonlocal level
        level += 3
        print(level)
    return inner

f1 = outer()
f1()

53

In [70]:
f1()

59

In [87]:
level = 0

def outer(level):
    def inner():
        nonlocal level
        level += 3
        print(level)
    return inner

ff = outer(50)
ff()

53

In [89]:
def print_string(string):    
    print(string)
    print(type(string))
def print_int(number):
    print(number)
    print(type(number))

In [109]:
def multi(var1, var2):
    return var1 * var2

def sub(var1, var2):
    return var1 - var2

In [118]:
def show_args(original_function):
    def wrap(*args, **kwargs):
        print(f'args: {args}')
        return original_function(*args, **kwargs)
    return wrap

In [123]:
f1 = show_args(multi)
f1(3, 5)
f2 = show_args(sub)
f2(3, 5)

show_args(multi)(10,10)

args: (3, 5)
args: (3, 5)
args: (10, 10)

100

In [124]:
@show_args
def sum_all(*args):
    return sum(args)

In [125]:
sum_all(1,2,3,4,5)

args: (1, 2, 3, 4, 5)

15

In [135]:
def range_gen(num):
    i = 0
    while i < num:
        yield i
        i += 1

In [141]:
r = range_gen(5)
for i in r:
    print(i, id(i))

0 9289088
1 9289120
2 9289152
3 9289184
4 9289216